*{
  background-color: #d2dbdd;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: rgb(29, 163, 74);
}
.card {
  border: 2px solid rgb(194, 105, 105) !important;
  margin-bottom: 30px;
}

.h1-title{
  margin: 30px 0;
  background-color: black;
  border-radius: 25px;
  padding: 15px 0;
}